.wrap {
  width: 100%;
  /* background-color: aqua; */
}
/*헤드라인 부분 */
.topContainer {
  width: 100%;
  height: 120px;
  position: relative;
  margin-bottom: 10px;
}
/* 로고 부분 */
.topLogo {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.logo {
  width: 600px;
  overflow: hidden;
}
.logo > img {
  width: 100px;
  height: 60px;
  margin-right: 10px;
  float: left;
}
.logo > h1 {
  height: 70px;
  line-height: 70px;
  float: left;
  font-size: 2rem;
}

/* 회원가입, 로그인 부분 */
.topNav {
  width: 350px;
  /* background-color: aquamarine; */
  text-align: right;
}
.topNav li {
  display: inline-block;
}
.topNav li > a {
  display: inline-block;
  padding: 10px 5px;
}
.topNav li > a:hover {
  color: blue;
}

/* 메인 메뉴 부분 */
.mainNav {
  position: absolute;
  bottom: 3px;
  left: 150px;
}
.mainNav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mainNav li > a {
  display: inline-block;
  padding: 5px 12px;
  font-size: 1.1rem;
}
.mainNav li > a:hover {
  color: blueviolet;
}
/*검색 부분 */
.search {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 3px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.search > form > div {
  float: left;
  width: 200px;
  /* background-color: aqua; */
}
.search > form > input[name="textSearch"] {
  height: 35px;
  width: 320px;
  margin-left: 10px;
}
.search > form > span {
  display: inline-block;
}
/*배너 부분*/
.banner {
  margin-bottom: 20px;
}
.banner > img {
  width: 100%;
}
/*코스 안내 부분 */
.courseInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.courseInfo > a {
  display: block;
  margin: 0px;
}
.courseInfo img {
  box-sizing: border-box;
  width: 240px;
}
/*mainInfo */
.mainInfo {
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
/* tab 부분*/
.tabMenu {
  width: 600px;
  height: 420px;
  float: left;
  margin-right: 20px;
}
/* tab 제목 */
.tabTitle {
  height: 49px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* tab 제목의 버튼 부분 */
.tabTitle button {
  width: 150px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabTitle button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabTitle > button.active {
  background-color: #ccc;
}

/* tab page */
.tabPage {
  box-sizing: border-box;
  height: 369px;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tablinkInit {
  display: block;
}

/* 책소개 이미지 부분 */
.bookInfo > img {
  box-sizing: border-box;
  width: 340px;
  height: 369px;
  margin-top: 50px;
}

/*footer 부분 */

.footer {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}
.companyInfo {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.companyInfo > ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
}
.companyInfo li > a:hover {
  color: red;
}
.symbols {
  margin-left: 18px;
}
.companyAddress > span {
  line-height: 28px;
  letter-spacing: 1px;
  margin-left: 20px;
}
